
/* header */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  .tour {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: fade-in 0.5s ease;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .tour h3 {
    margin-top: 0;
    color: #8d4fff;
  }
  
  .tour p {
    margin-bottom: 10px;
    color: #666;
  }
  
  .tour img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    animation: zoom-in 0.5s ease;
  }
  
  @keyframes zoom-in {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
  }
  
  .tour img:hover {
    transform: scale(1.1);
  }
  
  .tour .btn-book {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8d4fff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .tour .btn-book:hover {
    background-color: #fa9e1b;
  }
  